# binary files
*.lib
*.dll
*.exe

# service directories
nginx\
mariadb\
php\
postgresql\
redis\
www\

# data and log directories
postgresql\data\
postgresql\logs\
redis\data\
redis\logs\
mariadb\data\

# configuration files
changelog.txt
QuickServer.ini